.buttons_child{
display:flex;
justify-content:space-between;
align-items:center;
overflow-x: scroll;
overflow-y: hidden;
margin:10px;
}

.buttons_child::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.buttons_child{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.buttons_child>a{
    display:flex;
    justify-content:space-between;
    align-items:center;
 text-decoration: none;
 color:#333;
 padding:8px;
 border-radius: 30px;
 border:1px solid lightgrey;
    margin:10px;
    -webkit-tap-highlight-color: red; 
    -webkit-tap-highlight-color: transparent; 
    }