.mainsection{
    background-color: white;
    position:absolute;
    height:150vh;
    margin-top: 570px;
  width: 350px;
    z-index: 10;
    
    }
    .emoji-mart-bar {
border: none;


    }
    .emoji-mart-search-icon {
 display: none;       
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .emoji-mart-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .emoji-mart-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .contentComs::-webkit-scrollbar {
    display: none;
  }
  .emoji-mart-anchors svg{
color: #2196f3;

  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .contentComs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
    .contentComs{
    overflow-y: scroll;
    height: 370px;
    overflow-x: hidden
    
    }
    .contentComent{
margin-left: 10px;


    }
    .content_scroll{
height:50px;
margin-top:400px;

    }
    .mainsection>.MuiSvgIcon-root{
    
    color: red;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px;
    }
    .submainheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
  
    }
    
    .input__Text{
    background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        margin: 10px;
       border: 1px solid lightgray;
    }
    .input__Text>.MuiSvgIcon-root{
       color: teal;
           
        }
        .submainheader>.MuiSvgIcon-root{
            color: #2196f3;
                
             }  
    .input__Text>input{
    outline-width: 0;
    border: none;
    height: 30px;

    background-color: transparent; 
    border-radius: 5;
    font-size: 17px;
    width: 100%;
    margin-left: 11px;
    }
    .contentComenttext{
    text-align: left;
   
    
   
    }
    /* .emoji-mart-category-list{
background-color: #2196f3;


    } */
    .emoji-mart-category-label >span{

display: none;

    }
    .emoji-mart {
border:none;
        background-color: white;
    }
    .emoji-mart-search input{

        display: none;   
    }
    .emoji-mart-emoji{
font-size:9px;

    }
    .contentComenttext>p{
        text-align: left;
        padding: 10px;
        margin-left: -px; 
        
        }
    .contentComentname{
    font-weight: 800;
        text-align: left;
        margin: 10px; 
        
    }
    .contentComent{
    background-color: whitesmoke;
    border-radius: 9px;
    margin-left: 1px;
   
    }
    .contentComentname_all{
margin: 10px;
        border-left: 1px solid #2196f3;   
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;   
    }
    .contentComentreply1{
    display: flex;
    color: grey;
    align-items:center ;
    justify-content: left;
    margin: 10px;
    }
    .contentComentreply{
    border-bottom:1px solid lightgrey;
        display: flex;
    
        align-items:center ;
        justify-content: space-between;
    margin: 10px;
    }
    
    #btnfile{
    width: 0px;
    height: 50px;
    }
    .picker{
    position: fixed;
    background-color: aqua;
    width: 50px;
    float: left;
    height: 60px;
    }
    #preview{
    border-radius: 10px;
    border: 0px solid gray;
    outline-width: 0;
    position: absolute;
    background-color: transparent;
    margin-top: -130px;
    margin-left: 40px;
    object-fit: cover;
    height: 140px;
    width: 80px;
    z-index: 70;
    }