.footertext{
    align-items: center;
    color: white;
    display: flex;
    flex-direction:column;
    margin: 10px;
    
    
    font-family: 'Commissioner', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    }
    .footer{
        align-items: center;
        color: white;
        display: flex;
        flex-direction:column;
     background-color: #121212;
      
     
    }