.image_logo{
margin-top: 80px;
margin-bottom: 20px;
object-fit: contain;
width: 100px;
margin-left: auto;
margin-right: auto;


}
.Login{

display: flex;
flex-direction: column;
align-items: center;

}
.login__container{
background-color: white;
width: 500px;
height: fit-content;
display: flex;
flex-direction: column;
border-radius: 5px;
border:1px solid lightgray;
padding: 30px;

}
.login__container>h1{
font-weight: 500;
margin-bottom: 20px;


}
.login__container>form>h5{

margin-bottom: 5px;

}
.login__container>form>input{
height: 60px;
width: 98%;
background-color: white;

margin-bottom: 10px;
border: 1px solid lightgray;
}
.login__container>p{
margin-top: 15px;
font-size: 20px;



}
.loginsign{

border-radius: 2px;
height: 50px;

margin-top: 10px;

width: 100%;
font-size: 24px;
}
.loginregis{
border-radius: 2px;
width: 100%;

height: 40px;
border: 1px solid;
margin-top: 10px;


}
.login__container>form>h6{
color:gray;
text-align: center;
font: size 18px;
margin-top: 10px;
}
.login__container>form>h4{
background-color: #2196f3;
text-align: center;
font: size 18px;
margin-top: 10px;
height: 50px;
display: flex;  
justify-content: center;
align-items: center;
color: white;
}
@media (max-width:700px){
.image_logo{
    margin-top: 80px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
    
    }
    .Login{

    display: flex;
    flex-direction: column;
    align-items: center;
margin-top: 50%;
    }
    .login__container{
    background-color: white;
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:1px solid lightgray;
    padding: 10px;
    margin: 10px;
    }
    .login__container>h1{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 28px;
    
    }
    .login__container>form>h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    }
    .login__container>form>input{
    height: 50px;
    width: 98%;
    font-size: 17px;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    outline-width: 0;
    border: 1px solid lightgray;
    }
    .login__container>p{
    margin-top: 15px;
    font-size: 12px;
    
    
    
    }
    .loginsign{
  
    border-radius: 2px;
    height: 40px;
    border-color: darkgray;
    margin-top: 10px;
  outline-width: 0;
    width: 100%;
    }
    .loginregis{
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
    background-color:white;
    font-size:18px;
    }
        
}

.google{
display: flex;
align-items: center;
justify-content:space-around;
font-size:18px;
margin: 10px;
padding: 10px;
border: 1px solid lightgray;
}
.google>img{
height: 40px;
border-radius: 10%;
width: 40px;
    }
    .userin{
text-align: center;
display: flex;
align-items:center;
justify-content: center;
    }

    .userin>a{
        background-color:#2196f3;
        text-decoration: none;
        
    color: #fff;
    border-radius: 30px;
    }
      
    .userin>a>p{
        text-decoration: none;
        font-family: 'Commissioner', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow:ellipsis;
        -webkit-box-orient: vertical;
        white-space: wrap;
        justify-content: baseline;
       
        font-size: 18px;
        overflow-wrap: anywhere;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 190px;
        flex: 1;text-align: left;
        margin: 10px;
        
    }















































