
.star__header{
    left: 380px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    }
    .star__headermui{
    color: teal;
    z-index: 10px;
    }
    
    .star{
    display: flex;
    position: relative;
    align-items: baseline;
    flex: 1;
    
    flex-direction: row;
    }
    
    @media(max-width:600px){
    .star__content{
    background-color:#117abb;
    width: 100%;
   
    
    }
    .star{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    z-index: 10;
    align-items: center;
    
    
    }
    
    .star__header>.MuiIconButton-root{
    color:grey;
    flex: 1;
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    justify-content: space-between;
    
    }
    
    .star__header{
    flex-direction: row;
    left: 0;
    
    position: relative;
    justify-content: space-evenly;
    
    
    }
    
    .star__headermui{
     
        flex: 1;
        align-items: center;
    
        justify-content: space-between;
    
        display: flex;
    color: #2d383c9f;
    z-index: 10; flex-direction: row;
    }
    }
    .star__headermui:hover{
        color:   teal;
        z-index: 10;
        }
    
    
    
        @media(min-width:600px){
    
            .star__content{
              height: 1000px;
                margin-top: 0;
           width: 400px;
               
                }
                .star{
                  display: flex;
                  margin: 20px;
                  align-items: baseline;
                  flex: 1;
                  justify-content:space-evenly;
                  flex-direction: row;
                  z-index: 10;
                  }
        }
    .btton{
    display: flex;
    margin-left: -19px;
    
    
    }
    .mode>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    }
    .mode{
      display: flex;
      align-items: center;
    
     
    
      display: flex;
    
    
    color: whitesmoke;
    
    margin-left: 10px;
    text-align: left;
    
    }
    .mode>p{
      font-family: 'Commissioner', sans-serif;
      font-family: 'Quicksand', sans-serif;
          font-weight: 600;
    margin-left: 20px;
    font-size: 15px;
    }
    .star__h:hover{
    background-color: transparent;
    text-decoration: none;
    color: transparent;
    }
    